<mat-toolbar class="mat-elevation-z3" color="primary">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular YouTube Sidebar</span>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer opened="" mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav [sidenavCollapsed]="collapsed()"/>
  </mat-drawer>
  <mat-drawer-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet/>
  </mat-drawer-content>
</mat-drawer-container>
